<ul>
  {{#each products}}
    <li>
      Product Name: {{name}}
    </li>
      <ul>
        <li>Unit Price: {{price}}</li>
        <li>Inventory: {{inventory}} </li>
        <li>Id: {{id}}</li>
      </ul>

  {{/each}}
</ul>