<h2>LIST OF ALL ARTICLES</h2>

<a href= "articles/new">
  <button class="submit-btn" type="submit">Add an article</button>
</a>
{{#each articles}}
  <div class = "products">
  <h3>Title: {{title}}</h3>
    <ul>
      <li>Author: {{author}}</li>
      {{body}}

    </ul>
    <a href= "articles/{{title}}/edit">
    <button class="submit-btn" type="Edit">Edit Article</button>
    </a><span>
  </div>
{{/each}}