<div class="Add Article">
Add an Article:
  <br>
  <br>
  <form method="POST" action="/articles">
    <div class="form-group">
      Title: <input class="form-control" type="text" placeholder="Article Title" name="title"><br>
      Author: <input class="form-control" type="text" placeholder="Author" name="author"><br>
      Body: <input class="form-control" type="text" placeholder="Body" name="body" style = "width:50em; min-height: 150px;">
      <span><br>
      <button class="submit-btn" type="submit">Submit</button>
      </span>
    </div>
  </form>
</div>