{{#each product}}
  <div class = "products">
  <h3>Name: {{Name}}</h3>
    <ul>
      <li>ID #: {{id}}</li>
      <li>Price:{{Price}}</li>
      <li>Inventory: {{Inventory}}</li>
    </ul>
  </div>
{{/each}}