<div class="Add Product">
Add Product Here:
  <br>
  <br>
  <form method="POST" action="/products">
    <div class="form-group">
      Name: <input class="form-control" type="text" placeholder="Product Name" name="name"><br>
      Price: <input class="form-control" type="text" placeholder="Price" name="price"><br>
      Inventory: <input class="form-control" type="text" placeholder="Inventory?" name="inventory">
      <span><br>
      <button class="submit-btn" type="submit">Submit</button>

        </span>
    </div>
  </form>
</div>