
<div class= "container">
  <div class = "Welcome">
  <h1>Welcome to the LIBRARY WITH GROCERIES</h1>

  <div class="map">
    <a href= "products">
      <button class="submit-btn" type="submit">See All Products</button>
    </a>
  </div>


  </div>
</div>






<br>
<div class = "footer">
  {{>footer}}
</div>




