<div class= "container">
  <div class = "Welcome">
    <h1 class= "title">Select A Category</h1>
      <div class="map">
        <a href= "products">
          <button class="myButton" type="submit">PRODUCTS</button>
        </a>
        <span></span>
        <a href= "articles">
          <button class="myButton" type="submit">ARTICLES</button>
        </a>
      </div>
  </div>
</div>

<br>
<footer class="footer">
<p>&copy; 2017 <a href="http://www.ellamaearana.com" target="_blank"> Ella Mae Arana, Devleague Student</a>.</p>
<a href="#top">Back to top &raquo;</a>
</footer>

